<div class="row">
    <div class="col-md-6">
        <a routerLink="/" class="btn tbn-link">
            <i class="fa fa-arrow-circle-o-left"> Back to Dashboard</i>
        </a>
    </div>
    <div class="col-md-6">
        <div class="btn-group pull-right">
            <a routerLink="/client/edit/{{ id }}" class="btn btn-dark">Edit</a>
            <button (click)="onDeleteClick()" class="btn btn-danger">Delete</button>
        </div>
    </div>
    <div *ngIf="client" class="card">
        <h3 class="card-header">{{ client.firstName }} {{ client.lastName }}</h3>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8 col-sm-6">
                    <h4>Client ID: {{ client.id }}</h4>
                </div>
                <div class="col-md-8 col-sm-6">@TODO - Balance</div>
            </div>
            <hr />
            <ul class="list-group">
                <li class="list-group-item">Contact Email: {{ client.email }}</li>
                <li class="list-group-item">Contact Email: {{ client.phone }}</li>
            </ul>
        </div>
    </div>
</div>